* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-color: #000035;
  --color-secondary: #062863;
  --color-tertiary: #1c4c96;
  --fourth-color: #607ec9;
  --fifth-color: #9ab4ff;
  --white: #fff;
}

body {
  font-family: 'Poppins', sans-serif;
  transition: background .5s linear;

  .dark-mode & {
    background-color: #000020;
    color: var(--white);
  }
}


ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

html {
  scroll-behavior: smooth;
}

/******************************* header-page *************************************/
.header-page {
  position: fixed;
  top: 0;
  /* Fixa o cabeçalho no topo da página */
  width: 100%;
  /* Faz o cabeçalho ocupar toda a largura da página */
  background: var(--header-color);
  z-index: 100;
}


.header-title {
  font-size: 24px;
  letter-spacing: 4px;
  color: var(--white);
  cursor: default;
}

.title-span {
  color: var(--fourth-color);
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: var(--color-primary);
  height: 8vh;
}

.nav-list a {
  color: var(--white);
  transition: .5s;
  font-size: 1.1rem;
}

.nav-list a:hover {
  color: var(--fourth-color);
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: var(--white);
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 1080px) {
  body {
    overflow-x: hidden;
  }

  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: var(--color-primary);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 1;
    /*diz qual esta sobrepondo*/
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

/******************************* header-page *************************************/
.header-chk {
  opacity: 0;
  position: absolute;
}

.header-label {
  background-color: var(--color-secondary);
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  margin: 0 20px;
}

.header-label .header-ball {
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translate(0px);
  transition: transform 0.2s linear;
}

.header-chk:checked+.header-label .header-ball {
  transform: translate(24px);
}

.fa-moon {
  color: var(--fifth-color);
}

.fa-sun {
  color: #f39c12;
}

/******************************* FIM header-page *************************************/


/******************************* hero-page *************************************/
/******************************* home-page *************************************/
.hero {
  margin: auto;
}

.home {
  display: flex;
  flex-direction: row;
  margin: 15% 10%;
  margin-bottom: 8%;
}

.hero-text {
  text-align: justify;
  font-size: 1.3rem;
  margin: 5%;
}

.title {
  font-size: 3rem;
  font-weight: 900;
  opacity: 0.7;
}

.subtitle {
  opacity: 0.7;
}

.description {
  opacity: 0.8;
}

.home-contact {
  margin: 50px 0;
}

.home-btn {
  border: 2px solid var(--header-color);
  padding: 10px 30px;
  border-radius: 10px;
  color: var(--color-secondary);
  font-weight: 700;
  transition: 0.5s;

  .dark-mode & {
    border: 2px solid var(--fourth-color);
    color: var(--fourth-color);
  }
}

.home-btn:hover {
  background-color: var(--fourth-color);
  color: var(--header-color);

  .dark-mode & {
    color: var(--header-color);
  }
}

.home-links {
  display: flex;
  flex-direction: column;
  margin: 8% 8% 8% 0;
  font-size: 2rem;
}

.fa-brands {
  margin-bottom: 100%;
  color: var(--color-secondary);
  transition: .5s;

  .dark-mode & {
    color: var(--fourth-color);
  }
}

.fa-github:hover {
  color: #171515;

  .dark-mode & {
    color: var(--white);
  }
}

.fa-linkedin:hover {
  color: #0A66C2;
}

.fa-whatsapp:hover {
  color: #25d366;
}


.fa-instagram:hover {
  color: #E1306C;
}

.fa-brands:hover {
  scale: 1.2;
}

.gallery {
  width: 500px;
  fill: var(--fourth-color);
  margin-left: 10%;
  transition: .5s;
}

.gallery:hover {
  scale: 1.02;
}

.hero-img {
  width: 170px;
}

.fa-arrow-down {
  font-size: 1rem;
  transition: .5s;
}

@media (max-width: 1200px) {
  .home {
    flex-direction: column-reverse;
  }

  .gallery {
    margin: 5% auto;
    margin-left: 20vw;
    width: 170px;
  }

  .home-links {
    flex-direction: row;
    letter-spacing: 1rem;
    justify-content: center;
    margin: 0 auto;
  }

  .home-contact {
    text-align: center;
  }
}

/******************************* FIM home-page *************************************/


/******************************* about-page *************************************/

.about {
  justify-content: center;
  align-items: center;
  margin: 8% 15% 5% 15%;
}

.about-header {
  text-align: center;
  margin: 5%;
  font-size: 1.5rem;
}

.content {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.description-about {
  display: grid;
  margin: 0 10% 0px 10%;
  text-align: justify;
  font-size: 1.3rem;
}

.about-img {
  width: 271px;
  height: 500px;
  border-radius: 20px;
}

.cards {
  font-size: 3.5rem;
  letter-spacing: 2.5rem;
  text-align: center;
  color: var(--color-secondary);
}

.dark-mode .cards {
  color: var(--fourth-color);
}

.card-icon {
  transition: 0.5s;
  border-radius: 50%;
}

.card-icon:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.about-cv {
  text-align: center;
  margin: 50px 0;
}

.cv-btn {
  border: 2px solid var(--header-color);
  padding: 10px 30px;
  border-radius: 10px;
  color: var(--color-secondary);
  font-weight: 700;
  transition: 0.5s;

  .dark-mode & {
    border: 2px solid var(--fourth-color);
    color: var(--fourth-color);
  }
}

.cv-btn:hover {
  background-color: var(--fourth-color);
  color: var(--header-color);

  .dark-mode & {
    color: var(--header-color);
  }
}

@media (max-width: 1200px) {
  .content {
    display: flex;
    flex-direction:column;
  }
  .about-img{
    width: 170px;
    height: 250px;
  }

  .cards {
    display: none;
  }
}